body{
    background: #181818;
    color: #fff;
}

$lime: linear-gradient(135deg, #69E4A3 0%, #D2E66A 56.25%, #FDE753 100%) ;



.mobile{
    display: none;
}
.container{
    max-width: 1600px;
    
    margin: 0 auto;
}
.header{
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 100;
    
    justify-content: space-between;
    padding: 40px 0 0 0 ;
    font: 18px 'Rubik' ;
    .logo{
        position: relative;
        bottom: 15px;
       
    }

    
    .language {
        .current-lang {
            display: flex;   
            cursor: pointer;   
            font-size: 18px;
            .current-lang-text{
                padding: 0 10px;
            }
        }
        .container-langs {
            position: absolute;
           
            font-family: 'Gilroy-Medium';
            padding: 0 30px 0 5px;
            font-size: 18px;
            color: rgba(255, 255, 255, 0.8);
            
            margin-top: 40px;
            transition: .5s;
          
            background: rgba(255, 255, 255, 0.4);
            border-radius: 10px;
            
            .lang-item {
                cursor: pointer; 
               
                transition: .5s;
                max-height: 0;
                overflow: hidden;
                display: flex;
                .lang-text {
                    padding: 5px;
                }
            }
            
        }
      
    }
    .lang-active{
        .container-langs{
            padding: 10px 30px 0 5px ;
     
          .lang-item {
              max-height: 50px;
              

        }
      }
  }
    .nav-links {
        display: flex;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        padding: 0 100px;
        
        .nav-link {
            height: fit-content;
            margin: 0 20px;
        }
    }
    .tel {
        white-space: nowrap;
        display: flex;
        height: fit-content;
        .tel-num {
            margin: 0 10px;
            
        }
    }
}


#main-page{
    background: url(../img/stripes.png)   ,url(../img/semicircle.png) no-repeat  right 0  ;

    position: relative;
    background-size: auto, 35%;
    
    width: 100%;
    height: 100vh  ;
    padding-top: 200px;
}  

.main-content {
    

    display: flex;

}
.about-us {
    

}
.we-bg{
    position: absolute;
    top: -5px;
    left: -5px;
    
    
}
.we{
    background: url(../img/creative.png) no-repeat;
    background-size: 100%;
    width: fit-content;
    padding: 5px 7px 10px 7px ;
    font-size: 20px;
    font-family:  'Gilroy-Semibold';
}

.about-us_title {
    font-size: 65px;
    font-family:  'Gilroy-bold';
}
.about-us_text {
    font-size: 20px;
    width: 60%;
    line-height: 25px;

    opacity: .87;
}
// .more-hover-1{
//     position: absolute;
//     top: 0; left: 0; right: 0; bottom: 0;
//     background: $lime;
//     transition: .5s;

// }
// .more-hover-2{
//     position: absolute;
//     top: 0; left: 0; right: 0; bottom: 0;
//     background: $lime;
//     transition: .5s;
    
// }
.more {
    background: #181818;
    margin-top: 50px;
    padding: 5px 30px;
    border: 1px solid #ABABAB;
    width: fit-content;
    position: relative;
    cursor: pointer;

    &:hover{
        .more-hover-1{
            
        }
        .more-hover-2{
            
        }

    }
}
.main-img-container {
    position: relative;
}
.img-text-1 {
    position: absolute;
    z-index: 3;
    background: rgba(0 , 0, 0, 0.3);
    backdrop-filter: blur(15px);
    width: 50%;
    left: -30px ;
    right: 0;
    top: 50%;
    padding: 10px;
    line-height: 18px;
    box-shadow: 0px 15px 39px #000000;
}
.img-text-2 {
    position: absolute;
    z-index: 3;
    background: rgba(0 , 0, 0, 0.3);
    backdrop-filter: blur(15px);
    width: 50%;
    
    right: 0;
    top: 20%;
    line-height: 18px;
    padding: 10px;
    box-shadow: 0px 15px 39px #000000;
}
.main-img {
}

.our-business{
    overflow: hidden;
    position: absolute;
    left: 8%;
    right: 0;
    bottom: 0;
    display: flex;
    background: linear-gradient(270deg, rgba(66, 66, 66, 0.2) 0%, rgba(66, 66, 66, 0.194) 76.04%, rgba(66, 66, 66, 0) 100%);
    backdrop-filter: blur(47.2917px);

}
.our-bussiness-container {
    padding: 30px 100px 30px 30px ;
    width: 25%;
       




}
.our-business-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
    
}
.our-business-text{
    font-family: 'Gilroy-Semibold';
    opacity: .8;
}
.our-business_img {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}





















@media(max-width: 1600px ){
    .container{
        margin: 0 40px;

    }

}

@media(max-width: 1300px ){


    .header{
        .nav-links{
            padding: 0;
            .nav-link{
                margin: 0 10px;
            }
        }

    }

}

@media(max-width: 850px ){
    .mobile{

    }


    .header{
        flex-direction: column;
        .mobile-logo{   
            width: 100%;
            display: flex;
            justify-content: space-between;
            .burger{
                animation: 1s burger;
                width: 40px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between ;
                align-items: flex-end;
                .burger_stripe-1{
                    animation: 1s stripe-1;
                    background: linear-gradient(to left, #D6D6D6 0%, #949494 100%);
                    height: 3px;
                    width: 65%;
                }
                .burger_stripe-2{
                    background: linear-gradient(to left, #D6D6D6 0%, #949494 100%);
                    height: 3px;
                    width: 100%;
                }
                .burger_stripe-3{
                    animation: 1s stripe-3;
                    background: linear-gradient(to left, #D6D6D6 0%, #949494 100%);
                    height: 3px;
                    width: 65%;
                }
            }
        }
        .language {
            .current-lang {
                display: none;
            }
            .container-langs {
                .lang-item {
                    .lang-text {
                    }
                }
            }
        }
        .nav-links {
            display: none;
            .nav-link {
            }
        }
        .tel {
            display: none;
            .tel-num {
            }
        }
    }




}




@keyframes burger{
    0%{
        

    }
    100%{
      
    }
}
@keyframes stripe-1{
    0%{
        

    }
    100%{
      
    }
}
@keyframes stripe-3{
    0%{
        

    }
    100%{
      
    }
}







@font-face {
    font-family: 'Gilroy-Bold';
    src: url(../Fonts/Gilroy-Bold.ttf);
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url(../Fonts/Gilroy-Medium.ttf);
}
@font-face {
    font-family: 'Gilroy-Regular';
    src: url(../Fonts/Gilroy-Regular.ttf);
}
@font-face {
    font-family: 'Gilroy-Semibold';
    src: url(../Fonts/Gilroy-Semibold.ttf);
}
@font-face {
    font-family: 'SFProText-Regular';
    src: url(../Fonts/SFProText-Regular.ttf);
}
@font-face {
    font-family: 'SFProText-Semibold';
    src: url(../Fonts/SFProText-Semibold.ttf);
}
@font-face {
    font-family: 'Rubik';
    src: url(../Fonts/Rubik.ttf);
}